.music-wrapper {
	--blue: rgb(15, 74, 128);
	--purple: rgb(91, 52, 108);
	--pink: rgb(132, 40, 92);
	background: linear-gradient(135deg, var(--blue), var(--purple), var(--pink));
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.music-container {
	/* margin-top: 10%; */
	text-align: center;
}

.ep-art {
	margin-top: 10%;
	width: 75%;
	height: auto;
}

.description {
	font-size: 24px;
	color:  #FFF;
	text-shadow:
		1px 0 #000, 0 1px #000, -1px 0 #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000,
		2px 0 #000, 0 2px #000, -2px 0 #000, 0 -2px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}