.murl {
	background:  url('../../img/murl_in_space.jpg');
	height:  100vh;
	background-size: cover;
}

.joe {
	position:  absolute;
	animation:
		moveJoeX 2s linear 0s infinite alternate,
		/* 0s specifies the amount of delay before repeating */
		moveJoeY 4s linear 0s infinite alternate;
}

.joe img {
	width: 350px;
	height: 373px;
}

@keyframes moveJoeX {
	from {
		left: 0;
	}
	to {
		left: calc(100vw - 350px);
	}
}

@keyframes moveJoeY {
	from {
		top: 0;
	}
	to {
		top: calc(100vh - 373px);
	}
}

.erik {
	position: absolute;
	animation:
		moveErikX 4s linear 0s infinite alternate,
		moveErikY 2s linear 0s infinite alternate;
}

.erik img {
	width:  200px;
	height: 308px;
}

@keyframes moveErikX {
	from {
		left: 0;
	}
	to {
		left: calc(100vw - 200px);
	}
}

@keyframes moveErikY {
	from {
		top: 0;
	}
	to {
		top: calc(100vh - 308px);
	}
}