svg.icon:hover {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rowbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.row {
  height: 25vh;
  display: flex;
  justify-content: space-between;
}

.row1 {
  height: 50vh;
  color: #fff;
  background: linear-gradient(-45deg, var(--orange), var(--pink), var(--blue), var(--coral));
  background-size: 400% 400%;
  animation: Gradient 6s ease infinite;
  flex-direction: row;
  align-items: center;
}

.nameHeader {
  font-family: 'GothamUltraItalic';
  margin: 0 auto;
  font-size: 96px;
  color: var(--purple);
  text-shadow:
    0 0  100px #FFF,
    0 0  10px  #FFF,
    0 0  15px  #FFF,
    0 0  20px  #FFF,
    0 0  35px  #FFF,
    0 0  40px  #FFF,
    0 0  60px  #FFF,
    0 0  90px  #FFF;
}

.iconRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
  height: 100%;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@media (max-width: 768px) {
  .iconRow {
    flex-direction: row;
    align-self: flex-end;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .nameHeader {
    margin: 0 auto;
  }

  .row {
    flex-wrap: wrap;
  }

  .row2 {
    height: 20vh;

  }

  .row3 {
    height: 30vh;
  }

  .nameHeader {
    font-size: 60px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

}