body {
  font-family: 'Droid Sans', sans-serif;
}

.logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.row {
  border: 1px solid red;
  height: 25vh;
  display: flex;
  justify-content: space-between;
}

.row1 {
  height: calc(100vh - 50vh);
}

.rowbox {
  border: 1px solid pink;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1 {
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}