@font-face {
  font-family: 'GothamUltraItalic';
  src: url('./fonts/GothamUltraItalic.ttf') format('truetype');
}

:root {
  --orange: #EE7752 ;
  --pink: #E73C7E ;
  --blue: #23A6D5 ;
  --coral: #23D5AB ;
  --purple: #551A8B;
}

body {
  font-family: 'Droid Sans', sans-serif;
}

svg.icon:hover {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rowbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.row {
  height: 25vh;
  display: flex;
  justify-content: space-between;
}

.row1 {
  height: calc(100vh - 50vh);
  color: #fff;
  /*background: linear-gradient(45deg, rgb(40,90,130), rgb(150,70,110));*/
  background: linear-gradient(-45deg, var(--orange), var(--pink),var(--blue),var(--coral));
  background-size: 400% 400%;
  animation: Gradient 6s ease infinite;
}

.nameHeader {
  font-family: 'GothamUltraItalic';
  align-self: center;
  margin-left: 10%;
  font-size: 96px;
  /*color: rgb(135, 230, 244);*/
  color: var(--purple);
  /*text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
   text-shadow:
    0 0  100px #fff,
    0 0  10px #fff,
    0 0  15px #fff,
    0 0  20px #FFF,
    0 0  35px #FFF,
    0 0  40px #FFF,
    0 0  60px #FFF,
    0 0  90px #FFF;
}

.iconRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }

  .row2 {
    height: 20vh;

  }

  .row3 {
    height: 30vh;
  }

  .nameHeader {
    font-size: 60px;
  }

  svg {
    width: 16px;
    height: 16px;
  }

}