:root {
	--orange: #EE7752 ;
	--pink: #E73C7E ;
	--blue: #23A6D5 ;
	--coral: #23D5AB ;
	--purple: #551A8B;

	--complementary-orange: #52EEE6;
	--complementary-pink: #7DE73C;
	--complementary-blue: #D55B23;
	--complementary-coral: #D54423;
	--complementary-purple: #FFCE2B;

	--iOsSafariBottomBar: 44px;
}

@font-face {
	font-family: 'GothamUltraItalic';
	src: url('./fonts/GothamUltraItalic.ttf') format('truetype');
}

html,
body,
#root,
.router-container {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'VT323', 'Droid Sans', sans-serif;

	--backround-blue: rgb(15, 74, 128);
	--purple: rgb(91, 52, 108);
	--pink: rgb(132, 40, 92);
	background: linear-gradient(135deg, var(--backround-blue), var(--purple), var(--pink)) fixed;
}

.bio-container,
.contact-container,
.music-container {
	text-align: center;
}

.bio-container,
.contact-container,
.music-container,
.shows-container,
.shows-table-container {

	font-size: 24px;
	color:  #FFF;

	text-shadow:
		1px 0 #000, 0 1px #000, -1px 0 #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000,
		2px 0 #000, 0 2px #000, -2px 0 #000, 0 -2px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}

/* iPhone 5, 5s, SE */
@media screen and (device-aspect-ratio: 40/71) {
	/* 320 × 568 */
	html,
	body {
		height: calc(100vh - var(--iOsSafariBottomBar));
	}
}

/* iPhone 6, 6s, 7 */
@media screen and (device-aspect-ratio: 375/667) {
	/* 375 × 667 */
	html,
	body {
		height: calc(100vh - var(--iOsSafariBottomBar));
	}
}

/* iPhone 6+, 6s+, 7+ */
@media screen and (device-aspect-ratio: 16/9) {
	/* 414 × 736 */
	html,
	body {
		height: calc(100vh - var(--iOsSafariBottomBar));
	}
}