.shows-header {
	font-size: 48px;
	color: #FFF;
	text-align: center;

	text-shadow:
		1px 0 #000, 0 1px #000, -1px 0 #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000,
		2px 0 #000, 0 2px #000, -2px 0 #000, 0 -2px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;

}

h2.shows-header  {
	font-size:  36px;
}

.shows-container {
	padding: 10px;
	display: flex;
	justify-content: center;

}

.poster-img {
	/* max-width: 100%; */
	/* max-height: 75vh; */
}

.shows-container a {
	color: #FFF;
}

.shows-table-container {
	padding-bottom: 20px;
}

.shows-container .shows-description {
    font-size: 28px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.shows-container .shows-row {
	margin-left: 10%;
}

.we-know {
	text-decoration: underline;
}

.we-know:hover {
	cursor: pointer;
}

.wow-gif {
	display:  block;
	margin: 0 auto;
	max-width: 350px;
}

.hide {
	display: none;
}

.gif-container {
	position: relative;
}

.close-gif-icon {
	position: absolute;
	top: -15px;
	left: 40px;
}

@media (max-width: 768px) {
	.shows-container {
		flex-wrap: wrap;
	}

	.shows-container .shows-description {
		font-size: 20px;
	}

	.shows-container .shows-row {
		margin: 15px auto;
		width: 90%;
	}

	.wow-gif {
		max-width: 180px;
	}

	.wow-gif {
		padding: 20px 0;
	}

	.close-gif-icon {
		position: absolute;
		top: 5px;
		left: 55px;
	}
}